body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    }

/* CSS for "COURSES"! The text and pictures are placed in boxes */
.container {
    width: 80%;
    height: 60%;
    margin: 10%;
    grid-column-gap: 20px;
}
    
.one-one { 
    display: inline-block;
    float: left;
    width: 48%;
    height: 300px;
}
    
.one-two {
    display: inline-block;
    float: right;
    width: 48%;
    height: 300px;
}

.two-one {
    display: inline-block;
    float: left;
    margin-top: 4%;
    margin-bottom: 10%;
    width: 48%;
    height: 300px;
}

    .two-two {
    display: inline-block;
    float: right;
    margin-top: 4%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    height: 300px;
}
/* The button for the registration*/
button {
    background-color:#985452;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
}
/* It changes color when we hover over it*/
button:hover {background-color: #b24e4b;}

.one-two img {
    margin: auto;
    display: block;
}
p {
    text-align:justify;
    }

    /*CSS for the page "ABOUT"*/
#omoss {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.piccontainer {
    position: relative;
    text-align: center;
    color: white;

}
.piccontainer img {
    width: 100%;
}

.piccontainer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
