/* Påmelding */

body {
    white-space: nowrap;
}

legend {
    margin: auto;
    font-size: x-large; /* Midlertidig font størrelse*/
}

form {
    width: 70%;
    margin: auto;
}

#paamelding {
    border: none;
}

[type=text], [type=number], [type=email],[type=tel], select{
    -webkit-box-sizing: border-box; /* Må brukes for å gjøre <select> til lik størrelse som <inpu> */
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    border: 1px, solid, #cccccc;
    text-indent: 4px;
    padding: 10px;
}

.skjemaKnapp {            /* Samme som i courses. Tror dette vil se bedre ut enn en default browser knapp slik som i mockupen */
    background-color:#985452;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.skjemaKnapp:hover {
    background-color: #b24e4b;
}

abbr {
    text-decoration: none; /* Remove the dotted line from abbreviations */
}

.container { /* Samme som i courses */
    width: 80%;
    height: 60%;
    margin: 10%;
    grid-column-gap: 20px;
  }

.inputlinje {
    display: block;
}

#aksept {
    margin-bottom: 25px;
}
