/* Innholdsfortegnelse
Globals
Header
Footer
Index
Courses
About
Paamelding
*/

/* ----------------------------------- SKILLE ----------------------------------- */
/* GLOBALS */

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, Times, serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* HEADER */

header {
  height: 120px;
  width: 100%;
  background-color: #985452;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .navElement {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 8px;
  margin-right: 1em;
  opacity: 0.9;
}

#translate {
  cursor: pointer;
  width: 3.5em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.navElement:hover {
  border-bottom: white 2px solid;
  border-top: white 2px solid;
  transition: 0.3s;
  opacity: 1;
}

#logo,
#home {
  height: 100%;
}

#logo {
  width: auto;
}

/* Skjule hamburgermeny, hamburgermeny inspirert av https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.hamburgermenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hamburgermenu {
    display: block;
    color: white;
    font-size: 3em;
  }

  nav {
    display: none;
    z-index: 99999; /* Slik at nav-baren alltid er øverst */
    background-color: #a7605c; /* Lysere versjon av hovedstilen */
    position: absolute;
    top: 120px; /* Like høyt som header-høyden */
    left: 0;
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
  }

  #translate {
    display: block;
    position: relative;
    margin: auto;
    padding: 3px;
    width: 3em;
  }
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* FOOTER */

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  background-color: #985452;
  height: 180px;
}

footer img {
  width: 2em;
  margin: 3px;
}

footer p {
  color: white;
  text-align: center;
  font-family: Georgia, Times, serif;
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* INDEX */

#hovedtekst h1 {
  margin: 0;
  color: white;
}

#undertekst h3 {
  margin: 5px;
  font-size: 1.5em;
  color: white;
}

.bildetekst {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Slideshow til hovedsiden */

.forsidebilder {
  height: 100vh;
}

.fbilde1,
.fbilde2,
.fbilde3,
.fbilde4 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.fbilde1 {
  background: url(../img/forsidebilde1.jpg);
  animation: fade 30s infinite;
}

.fbilde2 {
  background: url(../img/forsidebilde2.jpg);
  animation: fade2 30s infinite;
}
.fbilde3 {
  background: url(../img/forsidebilde3.jpg);
  animation: fade3 30s infinite;
}

.fbilde4 {
  background: url(../img/forsidebilde4.jpg);
  animation: fade4 30s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* Påmelding */

legend {
  margin: auto;
  font-size: x-large; /* Midlertidig font størrelse*/
}

form {
  width: 70%;
  margin: auto;
}

abbr {
  text-decoration: none; /* Remove the dotted line from abbreviations */
}

[type="text"],
[type="number"],
[type="email"],
[type="tel"],
select {
  -webkit-box-sizing: border-box; /* Må brukes for å gjøre <select> til lik størrelse som <input> */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px, solid, #cccccc;
  text-indent: 4px;
  padding: 10px;
}

.skjemaBoks {
  white-space: nowrap; /* Få asteriksen '*' til å være på linje med skjemaet */
}

.inputlinje {
  display: block;
}

/* Knappen benyttes både i courses.html og paamelding.html */

.skjemaKnapp {
  font-family: Georgia, Times, serif;
  background-color: #985452;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 0.5em 2em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  margin: 1em auto;
  display: block;
}

.skjemaKnapp:hover {
  background-color: #b24e4b;
}

#aksept {
  margin-bottom: 25px;
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* Courses */

.container {
  display: flex;
  flex-direction: column;
  height: 60%;
  margin: 1em auto;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0.5em 2em;
}

#reverseRow {
  flex-wrap: wrap-reverse;
}
/*
.tekstboks {
  width: 48%;
  min-width: 300px;
}*/

.rowElements {
  width: 20%;
  min-width: 300px;
  margin: 0 4em;
}

.bildeboks {
  display: flex;
  justify-content: center;
}

.coursetext {
  text-align: justify;
}

/* ----------------------------------- SKILLE ----------------------------------- */
/* About */

iframe {
  width: 420px;
  height: 260px;
  border: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2em;
}

.piccontainer {
  position: relative;
  text-align: center;
  color: white;
}

.piccontainer img {
  width: 100%;
}

.piccontainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#omossContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

@media only screen and (max-width: 700px) {
  /* About */

  .textContainer {
    width: 70%;
  }

  #omossContent {
    flex-direction: column;
  }

  .piccontainer h1 {
    top: 30%;
    font-size: 3em;
  }
}
