/* Innholdsfortegnelse
Globals
Header 
Footer
Index
Courses
About
Paamelding
*/

/* ----------------- Skille ----------------- */
/* GLOBALS */ 

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* ----------------- Skille ----------------- */
/* HEADER */

header {
  height: 100px;
  width: 100%;
  background-color: #985452;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 10px;
}

nav {
  display: block;
  width: 60%;
}

nav .navElement {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px;
  margin-right: 1em;
}

#translate {
  cursor: pointer;
  width: 3.5em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.navElement:hover {
  background-color: white;
  color: #985452;
  transition: 0.4s;
}

#logo, #home {
  height: 100%;
}

#logo {
  width: auto;
}

/* Skjule hamburgermeny, hamburgermeny inspirert av https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.hamburgermenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hamburgermenu {
    display: block;
    color: white;
    font-size: 3em;
  }

  nav {
    display: none;
    background-color: #985452;
    opacity: 0.8;
    position: absolute;
    top: 100px; /* Like høyt som header-høyden */
    left: 0;
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
  }

  #translate {
    display: block;
    position: relative;
    margin: auto;
    padding: 3px;
    width: 3em;
  }
}


/* ----------------- Skille ----------------- */
/* Påmelding */

legend {
  margin: auto;
  font-size: x-large; /* Midlertidig font størrelse*/
}

form {
  width: 70%;
  margin: auto;
}

abbr {
  text-decoration: none; /* Remove the dotted line from abbreviations */
}

[type=text], [type=number], [type=email],[type=tel], select{
  -webkit-box-sizing: border-box; /* Må brukes for å gjøre <select> til lik størrelse som <input> */
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width: 100%;
  border: 1px, solid, #cccccc;
  text-indent: 4px;
  padding: 10px;
}

.skjemaBoks {
  white-space: nowrap; /* Få asteriksen '*' til å være på linje med skjemaet */
}

.skjemaKnapp {            /* Samme som i courses. Tror dette vil se bedre ut enn en default browser knapp slik som i mockupen */
  background-color:#985452;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.skjemaKnapp:hover {
  background-color: #b24e4b;
}

.container { /* Samme som i courses */
  width: 80%;
  height: 60%;
  margin: 10%;
  grid-column-gap: 20px;
}

.inputlinje {
  display: block;
}

#aksept {
  margin-bottom: 25px;
}

#paamelding {
  border: none;
}

/* ----------------- Skille ----------------- */
/* Courses */
  
.one-one { 
  display: inline-block;
  float: left;
  width: 48%;
  height: 300px;
}
  
.one-two {
  display: inline-block;
  float: right;
  width: 48%;
  height: 300px;
}

.two-one {
  display: inline-block;
  float: left;
  margin-top: 4%;
  margin-bottom: 10%;
  width: 48%;
  height: 300px;
}

.two-two {
display: inline-block;
float: right;
margin-top: 4%;
margin-bottom: 10%;
margin-left: auto;
margin-right: auto;
width: 48%;
height: 300px;
}
.one-two img {
  margin: auto;
  display: block;
}
p {
  text-align:justify;
  }

/* ----------------- Skille ----------------- */
/* About */

#omoss {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.piccontainer {
  position: relative;
  text-align: center;
  color: white;

}
.piccontainer img {
  width: 100%;
}

.piccontainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
